    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/index.html">{{ site.title }}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <li class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Teaching Materials
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/spring-boot-lab.html">Spring Boot Lab</a>
                <a class="dropdown-item" href="/gradle-lab.html">Gradle Lab</a>
                <a class="dropdown-item" href="/web-lab.html">Web Lab</a>
              </div>
            </li>

<!--
            <li>
              <a href="/about" class="btn btn-secondary">Interviews</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="talks.html">Talks</a>
            </li>-->
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/home-bg2.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Nothing is true...</h1>
              <span class="subheading">... everything is permitted</span>
            </div>
          </div>
        </div>
      </div>
    </header>
